<%
meta :title => "Hitta trafikskola - Alla Sveriges Trafikskolor",
     :description => "Alla trafikskolor i Sverige",
     :keywords => %w(trafikskola körkort b-körkort)
%>
<div class="span12">
	<div class="row">
		<div class="span6">
			<h1>Hitta din trafikskola</h1>
			<div class="homeintro_content">
			<p>
				Hittatrafikskola.nu är en oberoende prisjämförelse av trafikskolor. Det är dyrt att ta körkort
				idag och därför är det extra viktigt att hitta rätt trafikskola. 
			</p>
					
					<div class="bubble">
						<p>Jag heter Usman och det är jag som har gjort
							den här sajten. Den är öppen att använda för alla,
							hitta din trafikskola eller skriv gärna en rekommendation.
						</p>
					</div>
					<div class="user_pic">
						<a href="http://rajab.se" alt="Usman Rajab">
							<%= image_tag('flamingo.jpg')%>
							<span class="name">Usman Rajab</span>
						</a>
					</div>
		</div>
	</div>
		<div class="span6">
			<div class="latest_review">
			<h3>Senaste rekommendationer:</h3>
			<% @lates_reviews.each do |review| %>
				<div class="media">
					 <a class="pull-left" href="#">
					 	<%= image_tag("#{review.user.image}", :class => "media-object img-rounded") %>
					</a>
					<div class="media-body">
						<h4 class="media-heading"><%= review.user.name %> 
							<span class="about">skrev om</span>
							<span class="school_name">
								<%= link_to review.school.name, review.school %>
								<a href="#"></a>
							</span>
						</h4>
						<p> <%= review.content %></p>
					</div>
				</div>
			<% end %>
			</div>
	    </div>
	</div>
</div>
<div class="span6">
	<h3 class="home_h3">Top 5 trafikskolor i Sverige</h3>
	
		<% @top_schools.each do |school| %>
			<div class="item">
				<div class="rating_value bgr1">
					<p><%= format_rating(school.avgerage_review_rating) %></p>
					<span>Betyg</span>
				</div>
				<div class="metainfo_home">
					<p><%= link_to school.name, school %></p>
					<span><%= school.locality %></span>
				</div>
			</div>
		<% end %>
	
</div>
<div class="span6">
	<h3 class="home_h3">Populära trafikskolor på Facebook</h3>
		<% @top_likes.each do |school| %>
			<div class="item">
				<div class="rating_value bgr2">
					<p><%= school.likes.fan_count %></p>
					<span>Likes</span>
				</div>
				<div class="metainfo_home">
					<p><%= link_to school.name, school %></p>
					<span><%= school.locality %></span>
				</div>
			</div>
		<% end %>
</div>
