<div class="span12">
	<div class="row">
		<div class="span6">
			<h1>Hitta din trafikskola</h1>
			<div class="homeintro_content">
			<p>
				Allatrafikskolor.com är en oberoende prisjämförelse av trafikskolor. Det är dyrt att ta körkort
				idag och därför är det extra viktigt att hitta rätt trafikskola. 
			</p>
					
					<div class="bubble">
						<p>Jag heter Usman och det är jag som har gjort
							den här sajten. Den är öppen att använda för alla,
							hitta din trafikskola eller skriv gärna en rekommendation.
						</p>
					</div>
					<div class="user_pic">
						<a href="http://rajab.se" alt="Usman Rajab">
							<%= image_tag('flamingo.jpg')%>
							<span class="name">Usman Rajab</span>
						</a>
					</div>
		</div>
	</div>
		<div class="span6">
			<div class="latest_review">
			<h3>Senaste rekommendationer:</h3>
			
			</div>
	    </div>
	</div>
</div>
<div class="span6">
	<h3 class="home_h3">Top 5 trafikskolor i Sverige</h3>
	
		<% @top_schools.each do |school| %>
			<div class="item">
				<div class="rating_value bgr1">
					<p><%= format_rating(school.avgerage_review_rating) %></p>
					<span>Betyg</span>
				</div>
				<div class="metainfo_home">
					<p><%= link_to school.name, school %></p>
					<span><%= school.locality %></span>
				</div>
			</div>
		<% end %>
	
</div>
<div class="span6">
	<h3 class="home_h3">Populära trafikskolor på Facebook</h3>
		<% @top_likes.each do |school| %>
			<div class="item">
				<div class="rating_value bgr2">
					<p><%= school.likes.fan_count %></p>
					<span>Likes</span>
				</div>
				<div class="metainfo_home">
					<p><%= link_to school.name, school %></p>
					<span><%= school.locality %></span>
				</div>
			</div>
		<% end %>
</div>
