<div class="span12">
	<div class="searchresults">	
		<h1>Trafikskolor i <%= params[:query] %> <span></span></h1>
		 <ul>
			<li>
				<span class="resCheck label">
					<%= link_to "Billigast i #{params[:query]}",
								"trafikskola?utf8=%E2%9C%93&query=#{params[:query]}&sort=asc", 
								:class => "resCheckLink", :method => "get" %>
				</span>
			</li>
			<li>
				<span class="resCheck label">
					<%= link_to "Dyrast i #{params[:query]}",
								"trafikskola?utf8=%E2%9C%93&query=#{params[:query]}&sort=desc",
								:class => "resCheckLink", :method => "get" %>
				</span>
			</li>
		</ul>
		<table class="table searchresults">
			<tr>
				<th><h3>Trafikskola</h3></th>
				<th><h3>Pris per timme</h3></th>
				<th><h3>Pris för körkortspaket</h3></th>
			</tr>
			<% @schools.each do |school| %>
				<tr>
					<td> 
						<h3><%= link_to school.name, school %></h3>
						<p><%= school.adress %></p>
					</td>
					<td>
						<h3>
							<span class="label pricespan prispertimme">
								<%= school.price.min %> kr
							</span>
						</h3>
					</td>
					<td>
						<h3>
							<span class="label pricespan prispaketspan"> 
								<%= school.price.paket_pris %> kr
							</span>
						</h3>
					</td>
				</tr>
			<% end %>
		</table>
		<div class="digg_pagination">
			<%= will_paginate @schools, :container => false, 
										:params => { :search_text => params[:search_text] },
										:previous_label => "Föregånde",
										:next_label => "Nästa" %>
		</div>
	</div>
</div>
