<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] %>
  <%= tag :meta, property: "og:site_name", content: "allatrafikskolor" %>
  <%= tag :meta, property: "og:type", content: "allatrafikskolor:driving_school" %>
  <%= tag :meta, property: "og:title", content: @school.name %>
  <%= tag :meta, property: "og:url", content: school_url(@school) %>
  <%= tag :meta, property: "og:image", content: request.protocol + request.host_with_port + image_path("logo.png") %>
<% end %>

<%
meta :title => " #{@school.name} | Hittatrafikskola.nu",
     :description => "#{@school.name}",
     :keywords => %w(trafikskola körkort b-körkort)
%>
<div class="span3">
	<h1><%= @school.name %></h1>
	<%= render 'schools/metainfo' %>
</div>
<div class="span9">
	<%= render @school %>
    <%= render 'schools/reviews' %>
</div>
