<!DOCTYPE html>
<html>
<head>
	<%= metamagic %>
	<%= stylesheet_link_tag("application")%>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= yield :head %>
</head>
<body>
	<%= render 'layouts/newheader' %>
	<div class="container">
		<div class="content">
			<%= render 'layouts/msg' %>
			<div class="row">
				<%= yield %>
			</div>
		</div>
	</div>
	<%= render 'layouts/shim' %>
</body>
</html>	